/stitching_13_19.mat
/stitching_19_25.mat
/stitching_1_7.mat
/stitching_25_31.mat
/stitching_31_37.mat
/stitching_37_43.mat
/stitching_43_49.mat
/stitching_49_55.mat
/stitching_55_61.mat
/stitching_61_67.mat
/stitching_67_1.mat
/stitching_7_13.mat
